In [12]:
import pandas as pd
import numpy as np

In [13]:
data = pd.DataFrame({'Age': [20,21,22,23,24,25,26,27,28,29,30,50]})
data.head()

   Age
0   20
1   21
2   22
3   23
4   24

In [ ]:

mean = np.mean(data['Age'])
std = np.std(data['Age'])

data['Z-Score'] = (data['Age']-mean)/std
data

    Age   Z-Score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

### Print outlier

In [15]:
#print outliers
print(f'Here are outlier based on the z-score threshold, 3:\n {data[data['Z-Score']>3]}')

Here are outlier based on the z-score threshold, 3:
     Age   Z-Score
11   50  3.037793

### Remove outlier

In [16]:
#Remove Outlier
data = data[data['Z-Score'] <=3]
data

    Age   Z-Score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

# Remove Outlier by Stas function

In [17]:
import numpy as np
from scipy import stats

In [18]:
data = [2.5 , 2.7 , 2.8 , 3.0 , 3.2 , 3.4 , 3.6 , 3.8 , 4.0 , 110.0]
data

[2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.0]

### remove outlier on the base of index number

In [20]:
z_scores = np.abs(stats.zscore(data))

threshold = 2.5
outliers = np.where(z_scores > threshold)[0]
print('Indicate outlier', outliers)
print('Outlier',[data[i] for i in outliers])

Indicate outlier [9]
Outlier [110.0]

In [21]:
data = [data[i] for i in range(len(data)) if i not in outliers]
print('Data without outliers:', data)

Data without outliers: [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0]

# Remove Outliers by IQR

In [34]:
import pandas as pd
import numpy as np

data = pd.DataFrame({'Age':[20,21,22,23,24,25,26,27,28,29,30,50]})
data

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [35]:
Q1 = np.percentile(data['Age'],25,interpolation='midpoint')
Q3 = np.percentile(data['Age'],75,interpolation='midpoint')
IQR = Q3-Q1

In [41]:
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)

In [42]:
print(f"here are outliers:\n{data[(data['Age'] < lower_bound) | (data['Age'] > upper_bound)]}")

here are outliers:
Empty DataFrame
Columns: [Age]
Index: []

In [40]:
data = data[(data['Age'] >= lower_bound) &(data['Age'] <= upper_bound)]
print(data)

Empty DataFrame
Columns: [Age]
Index: []

# K Means clustering

In [43]:
from sklearn.cluster import KMeans
#
data = [[2,2],[3,3],[3,4],[30,30],[31,31],[32,32]]

#create a K-Means model with two clusters(normal and outlier)
kmeans = KMeans(n_clusters=2, n_init=10 )
kmeans.fit(data)

# Predict Cluster labels
labels = kmeans.predict(data)

# Identify outliers based on Cluster labels
outliers = [data[i] for i, label in enumerate(labels) if label ==1]
print('Data:', data)
print('Outliers:', outliers)

#Remove Outliers
data = [data[i] for i, label in enumerate(labels) if label == 0]
print('Data without outliers:', data)

Data: [[2, 2], [3, 3], [3, 4], [30, 30], [31, 31], [32, 32]]
Outliers: [[2, 2], [3, 3], [3, 4]]
Data without outliers: [[30, 30], [31, 31], [32, 32]]