In [2]:
import pandas as pd

In [8]:
data1 = {'Name':['Ahmad','Manha','Ali'], 'Age': [26,29,31]}

data2 = {'Name':['Ayesha','Sara','Amar'], 'Age': [25,15,18]}

data3 = {'City':['karachi','lahore','Islamabad'], 'Province':['Sindh','Punjab','Punjab']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

concatenated_rows = pd.concat([df1,df2])

concatenated_columns = pd.concat([df1,df2], axis=1)
 
print(concatenated_rows)

print(concatenated_columns)

     Name  Age
0   Ahmad   26
1   Manha   29
2     Ali   31
0  Ayesha   25
1    Sara   15
2    Amar   18
    Name  Age    Name  Age
0  Ahmad   26  Ayesha   25
1  Manha   29    Sara   15
2    Ali   31    Amar   18