# Data Structure and Algorithms
### Measuring time complexity
##### Big O notation is used to measure how running time or space requirements for your program grow as input size grows

In [1]:
def get_squared_numbers(numbers):
    squared_numbers = []
    for n in numbers:
        squared_numbers.append(n*n)
    return squared_numbers

numbers = [2,5,8,9]
get_squared_numbers(numbers)

[4, 25, 64, 81]

In [5]:
numbers = [3,6,2,4,3,6,8,9]

for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        if numbers[i] == numbers[j]:
            print(str(numbers[i]) + " is a duplicate")
            break

3 is a duplicate
6 is a duplicate

In [7]:
duplicate = 3  # Define the duplicate value you want to check for
for i in range(len(numbers)):
    if numbers[i] == duplicate:
        print(i)

0
4

In [8]:
numbers = [4,9,15,21,34,57,68,91]

for i in range(len(numbers)):
    if numbers[i] == 68:
        print(i)

6

In [14]:
stock_prices = [298,305,320,301,292]

for i in range(len(stock_prices)):
    if stock_prices[i] == 301:
        print(i)

3

#### 1. Let us say your expense for every month are listed below,
##### i- January = 2200
##### ii- February = 2350
##### iii- March = 2600
##### iv- April = 2130
##### v- May = 2190

#### Create a list to store these monthly expenses and usinng that find out

##### 1- In feb, how many dollars you spent extra compare to january?
##### 2- Find out your expense in first quarter (first three months) of the year
##### 3- Find out if you spent exactly 2000 $ in any month
##### 4- June month just finished and your expense is 1980 $. Add this item to our monthly expenses list
##### 5- You returned an item that you bought in a month of April and got refund of 2005. Make a correction to your monthly expense list based on this

#### 1. Let us say your expense for every month are listed below,
##### i- January = 2200
##### ii- February = 2350
##### iii- March = 2600
##### iv- April = 2130
##### v- May = 2190

#### Create a list to store these monthly expenses and usinng that find out

##### 1- In feb, how many dollars you spent extra compare to january?
##### 2- Find out your expense in first quarter (first three months) of the year
##### 3- Find out if you spent exactly 2000 $ in any month
##### 4- June month just finished and your expense is 1980 $. Add this item to our monthly expenses list
##### 5- You returned an item that you bought in a month of April and got refund of 2005. Make a correction to your monthly expense list based on this

#### 1. Let us say your expense for every month are listed below,
##### i- January = 2200
##### ii- February = 2350
##### iii- March = 2600
##### iv- April = 2130
##### v- May = 2190

#### Create a list to store these monthly expenses and usinng that find out

##### 1- In feb, how many dollars you spent extra compare to january?
##### 2- Find out your expense in first quarter (first three months) of the year
##### 3- Find out if you spent exactly 2000 $ in any month
##### 4- June month just finished and your expense is 1980 $. Add this item to our monthly expenses list
##### 5- You returned an item that you bought in a month of April and got refund of 2005. Make a correction to your monthly expense list based on this

In [28]:
# Creating list of Month expenses
monthly_expenses = [2200,2350,2600,2130,2190]

#In feb, how many $ you spent extra compare to Jan
extra_feb_expense = monthly_expenses[1] - monthly_expenses[0]
print("Extra expense in Feb compared to Jan:", extra_feb_expense)

Extra expense in Feb compared to Jan: 150

In [29]:
#Find out the expense in first quarter (first three months) of the year
first_quarter_expense = sum(monthly_expenses[:3])
print(f"First quarter expenses:", first_quarter_expense)

First quarter expenses: 7150

In [30]:
#Find out if there is any month in which you spent exactly 2000 dollars
spent_2000 = 2000 in monthly_expenses
if spent_2000:
    print("Yes, you spent 2000$ in a month.")
else:
    print("No, you didn't spent 2000$ in any month.")

No, you didn't spent 2000$ in any month.

In [31]:
#Add June expense to the list
monthly_expenses.append(1980)
print("Updated monthly expenses:", monthly_expenses)

Updated monthly expenses: [2200, 2350, 2600, 2130, 2190, 1980]

In [32]:
#MAke correction to April's expense after refund
monthly_expenses[3] -= 2005
print("Updated monthly expenses after refund:", monthly_expenses)

Updated monthly expenses after refund: [2200, 2350, 2600, 125, 2190, 1980]

In [1]:
def sum(a,b):
    print("a:", a)
    print("b:", b)

    total = a+b
    print("total inside function:",total)
    return total

n = sum(b=5,a=6)
print("Total outside function", n)

a: 6
b: 5
total inside function: 11
Total outside function 11

In [2]:
import calendar
cal = calendar.month(2016,1)
print(cal)

    January 2016
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [3]:
calendar.isleap(2025)

False

In [6]:
book= {}
book['tom'] = {
    'name': 'Tom',
    'address': '123 Main St',
    'phone': '555-1234'
}
book['jerry'] = {
    'name': 'Jerry',
    'address': '456 Elm St',
    'phone': '555-5678'
}
book['spike'] = {
    'name': 'Spike',
    'address': '789 Oak St',
    'phone': '555-9012'
}
import json
book_json = json.dumps(book)
print(book_json)
with open('book.json', 'w') as f:
    f.write(book_json)
with open('book.json', 'r') as f:
    book_data = f.read()

print(book_data)

{"tom": {"name": "Tom", "address": "123 Main St", "phone": "555-1234"}, "jerry": {"name": "Jerry", "address": "456 Elm St", "phone": "555-5678"}, "spike": {"name": "Spike", "address": "789 Oak St", "phone": "555-9012"}}
{"tom": {"name": "Tom", "address": "123 Main St", "phone": "555-1234"}, "jerry": {"name": "Jerry", "address": "456 Elm St", "phone": "555-5678"}, "spike": {"name": "Spike", "address": "789 Oak St", "phone": "555-9012"}}

In [7]:
import json
book = json.loads(book_data)
print(book)

{'tom': {'name': 'Tom', 'address': '123 Main St', 'phone': '555-1234'}, 'jerry': {'name': 'Jerry', 'address': '456 Elm St', 'phone': '555-5678'}, 'spike': {'name': 'Spike', 'address': '789 Oak St', 'phone': '555-9012'}}

In [8]:
type(book)

dict

In [11]:
book['jerry']

{'name': 'Jerry', 'address': '456 Elm St', 'phone': '555-5678'}

In [12]:
book['jerry']['phone']

'555-5678'

In [13]:
for person in book:
    print(book[person])

{'name': 'Tom', 'address': '123 Main St', 'phone': '555-1234'}
{'name': 'Jerry', 'address': '456 Elm St', 'phone': '555-5678'}
{'name': 'Spike', 'address': '789 Oak St', 'phone': '555-9012'}